.userGuide {
    background-color: ;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    color: #efefef;
    font-size: 52px;
}

.container {
  padding: 20px;
  z-index: 0;
  margin-top: 110px;
}

.container-fluid {
  padding: 10px 50px 10px 50px;
}

.header {
    background-color: rgba(253, 253, 253, 0.98);    
    z-index: 2;
    top: 0;
    position: fixed;
    width: 100%;
/*    filter:blur(5px);*/
    border-bottom: 1px solid #ececec;
}

.formPanel{
  border-left: 1px solid #d0d0d0;
}

#buttonPanel {
/*  border-right: 1px solid #dadada;
*/}

.btn {
  border-radius: 1px;
  font-family: 'Noto Sans', sans-serif;

}

.btn-info {
  background-color: #ffffff;
  border-color: #5f5f5f;
  color: black;
  margin: 5px;
}

#sport-form {
  padding: 10px;
}

.form-control {
  width: 200px;
  margin: 5px;
  border-radius: 1px;
}

.form-control:focus, .form-control:active {
    border-color: #000000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(162, 162, 162, 0.6);
}

#add-sport {
  background-color: orange;
  border: none;
  margin: 5px;
}

#add-sport:hover {
    color: #fff;
    background-color: #ffc82b;
    border-color: #ffc82b;
}

.btn-success:focus {
    color: #fff;
    background-color: #ffc82b;
    border-color: #ffc82b;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(162, 162, 162, 0.6);
}

.sportGif {
  margin: 25px;
  float: left;
/*  border-radius: 15px 50px;
*/  position: relative;
  left: -15px;
  padding: 10px;
  background-color: ;
}

img:hover, img:active, img:focus {
/*      background-color: #bdd9c7;  
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(162, 162, 162, 0.6);
    border: 1px solid black;
*/
/*    opacity: .5;
*/    transform: scale(1.05);}

.sportGif h2 {
  font-size: 15px;
  color: #404040;
  text-align: left;
  position: relative;
  top: -3px;
  font-family: 'Noto Sans', sans-serif;

}


